{{ define "main" }}
  <div class="mx-4 flex flex-col items-center justify-center pt-4">
    <div class="w-full md:w-[800px] ">
      <section class="my-0 bg-white dark:bg-gray-900">
        {{ if eq (.Kind) ("taxonomy") }}
          <div class="container mx-auto px-2">
            {{ if  eq .Site.LanguageCode "zh-CN" }}
              <div class="flex items-baseline justify-center">
                <h1
                  class="my-2 ml-2 border-r-2 border-dashed pr-2 text-center text-2xl font-semibold capitalize tracking-widest text-gray-800 dark:text-white lg:text-4xl"
                >
                  {{ .Title }}
                </h1>
                <span
                  class="my-2 mr-2 pl-2 font-normal tracking-normal dark:text-gray-400"
                >
                  Categories
                </span>
              </div>
              <p
                class="mt-4 text-center text-gray-500 dark:text-gray-300 xl:mt-6"
              >
                {{ site.Params.categories.description.zhCN.default }}
              </p>
            {{ end }}
            {{ if  eq .Site.LanguageCode "en" }}
              <h1
                class="text-2xl font-semibold capitalize text-gray-800 dark:text-white lg:text-4xl"
              >
                explore my
                <br />
                awesome
                <span class="underline decoration-blue-500">
                  <i class="fa-solid fa-hashtag"></i>
                  {{ .Title }}
                </span>
              </h1>
              <p class="mt-4 text-gray-500 dark:text-gray-300 xl:mt-6">
                {{ site.Params.categories.description.en.default }}
              </p>
            {{ end }}
            <div
              class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 xl:mt-12 xl:grid-cols-2 xl:gap-12"
            >
              {{ $.Scratch.Set "counter" 0 }}
              {{ $lang := .Site.LanguageCode }}
              {{ range  $key, $value  := .Data.Terms }}
                {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
                <div
                  class="space-y-3 rounded-xl border-2 border-blue-400 p-8 dark:border-blue-300"
                >
                  {{ if eq ($.Scratch.Get "counter") (1) }}
                    <span class="inline-block text-blue-500 dark:text-blue-400">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-8 w-8"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z"
                        />
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z"
                        />
                      </svg>
                    </span>
                  {{ else if eq ($.Scratch.Get "counter") (2) }}
                    <span class="inline-block text-blue-500 dark:text-blue-400">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-8 w-8"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z"
                        />
                      </svg>
                    </span>
                  {{ else if eq ($.Scratch.Get "counter") (3) }}
                    <span class="inline-block text-blue-500 dark:text-blue-400">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-8 w-8"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"
                        />
                      </svg>
                    </span>
                  {{ else }}
                    <span class="inline-block text-blue-500 dark:text-blue-400">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-8 w-8"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"
                        />
                      </svg>
                    </span>
                  {{ end }}
                  <h1
                    class="text-xl font-semibold capitalize text-gray-700 dark:text-white"
                  >
                    {{ $key }}
                    <sup>{{ len $value }}</sup>
                  </h1>

                  <p class="text-gray-500">
                    {{ if  eq $lang "zh-CN" }}
                      {{ range $cat, $des := site.Params.categories.description.zhCN }}
                        {{ if eq (lower $cat) (lower $key) }}{{ $des }}{{ end }}
                      {{ end }}
                    {{ end }}
                    {{ if  eq $lang "en" }}
                      {{ range $cat, $des := site.Params.categories.description.en }}
                        {{ if eq (lower $cat) (lower $key) }}{{ $des }}{{ end }}
                      {{ end }}
                    {{ end }}
                  </p>
                  <a
                    href="{{ absLangURL "categories" }}/{{ $key }}"
                    target="_self"
                    class="inline-flex transform rounded-full bg-blue-100 p-2 capitalize text-blue-500 transition-colors duration-300 hover:bg-blue-300 hover:text-blue-600 hover:underline rtl:-scale-x-100 dark:bg-blue-500 dark:text-white dark:hover:text-blue-900"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
                      />
                    </svg>
                  </a>
                </div>
              {{ end }}
            </div>
          </div>
        {{ else }}
          <div class="container mx-auto px-2">
            {{ if  eq .Site.LanguageCode "en" }}
              <h1
                class="text-2xl font-semibold capitalize text-gray-800 dark:text-white lg:text-4xl"
              >
                explore my
                <br />
                awesome
                <span class="underline decoration-blue-500">
                  <i class="fa-solid fa-hashtag"></i>
                  Category
                  {{ .Title }}
                </span>
              </h1>
              <p class="mt-4 text-gray-500 dark:text-gray-300 xl:mt-6">
                {{ $key := .Title }}
                {{ range $cat, $des := site.Params.categories.description.en }}
                  {{ if eq (lower $cat) (lower $key) }}{{ $des }}{{ end }}
                {{ end }}
              </p>
            {{ end }}
            {{ if  eq .Site.LanguageCode "zh-CN" }}
              <div class="flex items-baseline justify-center">
                <h1
                  class="my-2 ml-2 border-r-2 border-dashed pr-2 text-center text-2xl font-semibold capitalize tracking-widest text-gray-800 dark:text-white lg:text-4xl"
                >
                  分类
                </h1>
                <span
                  class="my-2 mr-2 pl-2 font-normal tracking-normal dark:text-gray-400"
                >
                  {{ .Title }}
                </span>
              </div>
              <p
                class="mt-4 text-center text-gray-500 dark:text-gray-300 xl:mt-6"
              >
                {{ $key := .Title }}
                {{ range $cat, $des := site.Params.categories.description.zhCN }}
                  {{ if eq (lower $cat) (lower $key) }}{{ $des }}{{ end }}
                {{ end }}
              </p>
            {{ end }}
            {{- partial "termcard.html" . -}}
          </div>
        {{ end }}
      </section>
    </div>
  </div>
{{ end }}
