{{ if .Params.banner }}
  <div class="bend-border min-h-[200px] md:min-h-[300px] h-full w-full blurred-img relative bg-center bg-cover" style="background-image: url('{{ .Params.lazyBanner }}')">
    <img draggable="false" class="min-h-[200px] md:min-h-[300px] h-full w-full opacity-0 transition-opacity duration-1000 ease-in-out object-center object-cover shadow-black/40" src="{{ .Params.banner }}" loading="lazy">
  </div>
{{ else }}
  <div class="bend-border min-h-[200px] md:min-h-[300px] h-full w-full blurred-img relative bg-center bg-cover" style="background-image: url('{{ .Site.Params.defaulLazyBanner }}')">
    <img draggable="false" class="min-h-[200px] md:min-h-[300px] h-full w-full opacity-0 transition-opacity duration-1000 ease-in-out object-center object-cover shadow-black/40" src="{{ .Site.Params.defaulBanner }}" loading="lazy">
  </div>
{{ end }}