<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1 ,maximum-scale=1, user-scalable=no">
    {{ $title := print .Title " - " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>🚀 {{ $title }}</title>
    <meta property="og:title" content="{{ $title }}">
    <meta name="twitter:title" content="{{ $title }}">
    <meta itemprop="name" content="{{ $title }}">
    <meta name="application-name" content="{{ $title }}">
    <meta name="og:site_name" content="{{ $title }}">
    {{ if .Params.description }}
      <meta name="description" content="{{ .Params.description }}">
      <meta itemprop="description" content="{{ .Params.description }}">
      <meta property="og:description" content="{{ .Params.description }}">
      <meta name="twitter:description" content="{{ .Params.description }}">
    {{ else }}
      <meta name="description" content="{{ .Site.Params.description }}">
      <meta itemprop="description" content="{{ .Site.Params.description }}">
      <meta property="og:description" content="{{ .Site.Params.description }}">
      <meta name="twitter:description" content="{{ .Site.Params.description }}">
    {{ end }}
    <meta name="robots" content="index,follow">
    <meta name="HandheldFriendly" content="True">

    <!-- theme style js -->
    <script>
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark')
      } else {
          document.documentElement.classList.remove('dark')
      }
    </script>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/lkarrie.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/font-awesome-6.4.0-css-all.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/mainload.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/wave.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/cardanime.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/video-js-8.3.0-lk.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/imglazy.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/highlightjs-copy.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/dracula.min.css">
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/mobile.css">
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/google-light.min.css"> -->
    <style>
      #search-input{
        -webkit-appearance: none;
      }
    </style>

    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
</head>
