<li class="inline-block whitespace-nowrap">
  <i class="fa-solid fa-angle-left fa-xl" style="color: #5dcaee;"></i>
</li>
<li class="inline-block whitespace-nowrap">
  <a href="{{ site.Params.home.github }}" target="_blank" title="Github">
    <img class="scale-90" src="/img/sns/github.png" />
  </a>
</li>
<li class="inline-block whitespace-nowrap" title="Mail">
  <a href="mailto:{{ site.Params.home.mail }}">
    <img src="/img/sns/email.png" />
  </a>
</li>
<li class="inline-block whitespace-nowrap">
  <a href="{{ site.Params.home.wechat }}" target="_blank" title="WeChat">
    <img src="/img/sns/wechat.png" />
  </a>
</li>
<li class="hidden whitespace-nowrap md:inline-block">
  <a
    href="https://wpa.qq.com/msgrd?v=3&amp;uin={{ site.Params.home.qq }}&amp;site=qq&amp;menu=yes"
    target="_blank"
    title="TencentQQ"
  >
    <img src="/img/sns/qq.png" />
  </a>
</li>
<li class="inline-block whitespace-nowrap">
  <a href="{{ site.Params.home.weibo }}" target="_blank" title="Weibo">
    <img src="/img/sns/sina.png" />
  </a>
</li>
<li class="inline-block whitespace-nowrap">
  <a href="{{ site.Params.home.steam }}" target="_blank" title="Steam">
    <img class="scale-75" src="/img/sns/steam.png" />
  </a>
</li>
<li class="inline-block whitespace-nowrap">
  <i class="fa-solid fa-angle-right fa-xl" style="color: #5dcaee;"></i>
</li>
