<!DOCTYPE html>
<html lang={{ .Site.LanguageCode }}>
    {{- partial "common/head.html" . -}}
    {{ if .IsHome }}
    <body class="scroll-smooth text-gray-600 font-body scrollbar-thin scrollbar-thumb-rounded scrollbar-thumb-white scrollbar-track-white dark:scrollbar-thumb-gray-900 dark:scrollbar-track-gray-900">
    {{ else }}
    <body class="scroll-smooth text-gray-600 font-body scrollbar-thin scrollbar-thumb-rounded  scrollbar-thumb-purple-300 scrollbar-track-slate-200 dark:scrollbar-thumb-purple-100 dark:scrollbar-track-slate-800">
    {{ end }}
      <div class="flex flex-col h-screen">
        <header class="flex-shrink-0">
          {{- partial "headerarea.html" . -}}
        </header>
        
        <main class="flex-main bg-white dark:bg-gray-900">
          {{- block "main" . }}{{- end }}
        </main>
        <footer class="flex-shrink-0 bg-white dark:bg-gray-900">
          {{- partial "common/footer.html" . -}}
        </footer>
      </div>
      <!-- common js -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/throttle-debounce@5.0.0/umd/index.min.js"></script> -->
      <script src="{{ .Site.BaseURL }}/js/throttleDebounce.js"></script>
      <script src="{{ .Site.BaseURL }}/js/common.js"></script>
      <script src="{{ .Site.BaseURL }}/js/jquery-3.5.1-jquery.min.js"></script>
      <!-- fancybox -->
      {{if .Page.Site.Params.fancybox }}
        <script src="{{ .Site.BaseURL }}/js/fancybox-3.5.7-jquery.fancybox.min.js"></script>
      {{ end }}
      <!-- fancybox -->

      <!-- /common js -->
      {{ if .IsHome }}
        <!-- Additional scripts and Block cannot repeat -->
        {{- block "scripts" . }}{{- end }}
        <script src="{{ .Site.BaseURL }}/js/home.js"></script>
      {{ else if or (eq .Title "Search") (eq .Title "搜索") }} 
        <!-- template same as block scripts -->
        {{- partial "search/search.template" . -}}
        <script src="{{ .Site.BaseURL }}/js/lunr.min.js"></script>
        <script src="{{ .Site.BaseURL }}/js/search.js"></script>
      {{ else if or (eq .Title "Tags") (eq .Title "标签") }} 
        {{- partial "tags/tags.template" . -}}
      {{ else }}
        {{- block "otherpagecripts" . }}{{- end }}
        <script src="{{ .Site.BaseURL }}/js/otherpage.js"></script>  
      {{ end }}
      <script>
        function search() {window.open('{{ absLangURL "" }}/search', '_self')}
      </script>
      <script src="{{ .Site.BaseURL }}/js/highlightjs-copy.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
      <script>
        hljs.highlightAll();
        // disable console warning
        hljs.configure({ignoreUnescapedHTML:true});
        hljs.addPlugin(new CopyButtonPlugin());
      </script>
      <script>
        document.addEventListener('DOMContentLoaded', (event) => {
          // document.querySelectorAll('pre code').forEach((el) => {
          //   hljs.highlightElement(el);
          //   el.classList.add("dark:bg-gray-900")
          // });
          document.querySelectorAll('.highlight').forEach((el) => {
            let pre = el.getElementsByTagName('pre')[0]
            pre.classList.add("flex-1")
            el.querySelectorAll('pre code').forEach((inner) => {
              hljs.highlightElement(inner);
              inner.classList.add("dark:bg-gray-900")

              el.setAttribute("code-type", inner.getAttribute("data-lang").toUpperCase());
              
              // generate line num 
              // hugo can automatically generate line numbers, but it breaks my style 
              let html = el?.innerHTML
              let size = html.split('\n').length
              let ul = document.createElement('ul')
              for (let i = 1; i <= size; i++) {
                  let li = document.createElement('li')
                  li.innerText = i + ''
                  ul.appendChild(li)
              }
              ul.classList.add('hljs-code-number')
              el.insertBefore(ul, pre)
            });

          });
        });
      </script>
      <!-- other js -->
      {{- partial "common/script.html" . -}}
      {{ if eq site.Params.views.plausible.enable true}} 
      {{- partial "common/plausible.html" . -}}
      {{ end }}
    </body>
</html>
