{{ define "main" }}
<div class="mx-4 flex justify-center items-center flex-col pt-4">
  <div class="w-full md:w-[800px] ">
    <article>
    <section class="my-8">
      <h1 class="text-3xl md:text-4xl font-semibold mb-4 dark:text-white">{{ .Title }}</h1>
      <p class="text-base my-2">
        {{ range $category := .Params.categories }}
        <a class="pr-4 text-blue-400 hover:text-blue-600" href="{{ absLangURL "categories" }}/{{lower $category}}"><i class="fa-solid fa-hashtag"></i>{{$category}}</a>
        {{ end }}
      </p>
      <p class="text-base my-2">
        {{ range $tag := .Params.tags }}
        <a class="pr-4 text-blue-400 hover:text-blue-600" href="{{ absLangURL "tags" }}/{{lower $tag}}"><i class="fa-solid fa-tag"></i>{{$tag}}</a>
        {{ end }}
      </p>
      {{ if isset .Params "show_date" | and (eq .Params.show_date false) }}
      {{ else }}
      <p class="text-zinc-400 text-base">
        Created at: {{ .Date.Format "Jan 02, 2006" }}
      </p>
      <p class="text-zinc-400 text-base">
        Words count: {{.WordCount}}.
        Read time: {{.ReadingTime}}min.
      </p>
      {{ end }}
    </section>

    <section class="post-content text-base md:text-lg tracking-normal leading-relaxed antialiasedtext-zinc-400 dark:text-zinc-200">
      {{ .Content }}
    </section>
    </article>

    <!-- toc -->
    <!-- <aside>
      {{ .TableOfContents }}
    </aside> -->

  </div>
</div>
{{ end }}