@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  @apply dark:text-white relative items-center text-gray-500 font-bold tracking-[1px] hover:text-purple-500 dark:hover:text-violet-500
}

.nav::after {
  @apply content-[''] bg-pink-500 dark:bg-fuchsia-500 h-[3px] left-0 w-[0%] -bottom-5 rounded-lg absolute duration-300
}

.nav:hover::after {
  @apply w-[100%]
}

.group-date-year {
  @apply text-2xl text-blue-400 font-bold tracking-widest
}

.group-date-month {
  @apply text-xl text-blue-400 font-bold tracking-widest
}

.timeline {
  @apply ml-[30px] py-3 border-l-4 border-gray-200 space-y-3
}

.timeline-item {
  @apply text-right pt-1 border-b-4 border-gray-200 
}

.dot-md{
  @apply absolute top-5 -left-4 bg-blue-700 h-7 w-7 rounded-full border-4 border-white
}

.dot-md-ping{
  @apply absolute -top-1 -left-1 bg-blue-700 h-7 w-7 rounded-full border-4 border-white animate-ping
}

.dot-sm{
  @apply absolute top-5 -left-3.5 bg-blue-400 h-6 w-6 rounded-full border-4 border-white
}

.dot-sm-ping{
  @apply absolute -top-1 -left-1 bg-blue-400 h-6 w-6 rounded-full border-4 border-white animate-ping
}

.timeline-date {
  @apply text-base font-semibold opacity-40 tracking-widest dark:text-white
}

.timeline-title {
  @apply text-lg md:text-2xl text-gray-600 dark:text-white font-semibold tracking-wide mx-4
}

.tagcloud--item {
  @apply py-2 px-4 whitespace-nowrap cursor-pointer text-2xl hover:text-purple-400
}

.bend-border {
  @apply after:dark:bg-gray-900 after:rounded-100% after:content-[''] after:absolute after:w-[150%] after:h-[4rem] after:bg-white after:left-[-25%] after:bottom-[-3rem]
}

.weighanchor-div {
  @apply w-full md:w-64 h-40 bg-white rounded-lg overflow-hidden shadow-md relative hover:bg-gray-600 hover:shadow-lg transition ease-in-out duration-500
} 

.weighanchor-img-div {
  @apply relative w-full md:w-64 h-40 bg-center bg-cover rounded-lg group-hover:bg-black
} 

.weighanchor-img {
  @apply group-hover:bg-black w-full md:w-64 h-40 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500
} 

.weighanchor-text-div {
  @apply text-black font-logo md:text-white absolute top-0 bottom-0 left-0 right-0 text-center transition ease-in-out duration-500
} 

.weighanchor-text-h3 {
  @apply p-[10px] text-base uppercase text-center bg-slate-100 md:bg-black/60 bg-opacity-30 md:bg-opacity-100 mt-5 md:-translate-x-full transition ease-in-out duration-500 group-hover:translate-x-0
} 

.weighanchor-text-p {
  @apply mt-4 p-2 md:p-4 text-sm text-center bg-slate-100 bg-opacity-30 md:bg-opacity-0 md:translate-x-full transition ease-linear duration-300 group-hover:translate-x-0
} 

/* @font-face {
  font-family: 'Nunito';
  src: url('../../fonts/nunito/nunito.woff2');
} */

.post-content h1 {
  @apply text-blue-400 leading-tight border-b text-3xl md:text-4xl font-semibold pb-2 pt-6 md:pt-16;
}
.post-content h2 {
  @apply text-blue-400 leading-tight border-b text-2xl md:text-3xl selection:font-semibold pb-2 pt-6 md:pt-16;
}
.post-content h3 {
  @apply text-blue-400 leading-tight border-b text-lg md:text-xl font-semibold pb-2 pt-6 md:pt-16;
}
.post-content h4 {
  @apply text-blue-400 leading-tight border-b text-lg md:text-xl font-semibold pb-2 pt-6 md:pt-16;
}
.post-content h5 {
  @apply text-blue-400 leading-tight border-b text-lg md:text-xl font-semibold pb-2 pt-6 md:pt-16;
}
.post-content h6 {
  @apply text-blue-400 leading-tight border-b text-lg md:text-xl font-semibold pb-2 pt-6 md:pt-16;
}
.post-content ul {
  @apply list-disc pl-5
}
.post-content pre code ul {
  @apply max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400
}
.post-content blockquote {
  @apply px-4 py-2 my-4 border-l-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800
}
.post-content blockquote p{
  @apply italic font-medium leading-relaxed text-gray-900 dark:text-white
}
.post-content pre code{
  @apply bg-white 
}
.post-content code{
  @apply text-gray-500 dark:text-gray-400 bg-rose-200 selection:bg-purple-300 selection:text-purple-900
}
.post-content table{
  @apply overflow-x-auto shadow-md rounded-lg w-full text-sm text-left text-gray-500 dark:text-gray-400 flex flex-col md:block
}
.post-content table thead {
  @apply text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400 hidden md:block
}
/**
todo: table样式有问题
**/
.post-content table thead tr th{
  @apply px-6 py-3 
}
.post-content table tbody tr td{
  @apply px-6 py-4
}
.post-content a {
  @apply font-medium text-blue-600 dark:text-blue-500 hover:underline
}
.post-content p {
  @apply py-2 break-all
}
.post-content p img{
  @apply m-auto py-4
}

@font-face {
  font-family: "logo";
  src: url("../../fonts/logo/logo.eot"); /* IE9 */
  src: url("../../fonts/logo/logo.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../../fonts/logo/logo.woff") format("woff"), /* chrome、firefox */
  url("../../fonts/logo/logo.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
  url("../../fonts/logo/logo.svg#logo") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}