{{ define "main" }}
<div class="mx-4 flex justify-center items-center flex-col pt-8">
  <div class="w-full md:w-[800px] ">
    <section class="my-8 bg-white dark:bg-gray-900">
      {{ if eq (.Kind) ("taxonomy")}}
      <div class="container px-2 mx-auto">
        <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">explore my <br> awesome <span class="underline decoration-blue-500"><i class="fa-solid fa-tag"></i>{{ .Title }}</span></h1>
        <p class="mt-4 text-gray-500 xl:mt-6 dark:text-gray-300">
          {{site.Params.tags.description.default}}
        </p>
        {{ if eq .Kind "taxonomy"}}
          <div class="flex justify-center items-center tagcloud"></div>
        {{ end }}
      </div>
      {{ else }}
      <div class="container px-2 mx-auto">
          <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">explore my <br> awesome <span class="underline decoration-blue-500"><i class="fa-solid fa-hashtag"></i>Tag {{.Title}}</span></h1>
          <p class="mt-4 text-gray-500 xl:mt-6 dark:text-gray-200">
              {{ $key := .Title}}
              {{ range $tag, $des := site.Params.tags.description}}
                  {{ if eq $tag $key }} {{$des}} {{end}} 
              {{ end }}
          </p>
          {{- partial "termcard.html" . -}}
      </div>
      {{ end }}
    </section>
  </div>
</div>
{{ end }}