<div class="fixed bottom-0 right-0 z-20 mb-5">
  <div class="flex flex-col-reverse justify-center gap-1">
    <input type="checkbox" class="toolsinput" />
    <button
      class="fa-solid fa-gear fa-xl toolsbar animate-spainslow dark:text-gray-300"
    ></button>
    <button
      class="fa-solid fa-circle-xmark fa-xl toolsbar animate-spainslowreverse dark:text-gray-300"
    ></button>
    <div class="toolsbutton flex items-center justify-center">
      {{- partial "common/lang.html" . -}}
    </div>
    <div class="toolsbutton flex items-center justify-center">
      {{- partial "common/searchbtn.html" . -}}
    </div>
    <div class="toolsbutton flex items-center justify-center">
      {{- partial "common/darktoggle.html" . -}}
    </div>
  </div>
</div>
