<div class="z-20 fixed bottom-0 right-0">
    <div class="flex flex-col-reverse justify-center gap-1">
        <input type="checkbox" class="otherinput">
        <button class="fa-solid fa-bars otherbar"></button>
        <div class="otherbutton flex justify-center items-center">
            {{- partial "common/lang.html" . -}}
        </div>
        <div class="otherbutton flex justify-center items-center">
            {{- partial "common/searchbtn.html" . -}}
        </div>
        <div class="otherbutton flex justify-center items-center">
            {{- partial "common/darktoggle.html" . -}}
        </div>
    </div>
</div>