<!-- <div class="blurred-img relative bg-center bg-cover bg-weighanchor1-lazy">
  <img class="opacity-0 transition-opacity duration-1000 ease-in-out md:h-full w-full rounded-xl object-center object-cover shadow-black/40" src="/img/weighanchor1.png" loading="lazy">
</div> -->

<div class="min-h-[300px] h-full w-full blurred-img relative bg-center bg-cover" style="background-image: url(/imglazy/weighanchor1-lazy.png)">
  <img class="min-h-[300px] h-full w-full opacity-0 transition-opacity duration-1000 ease-in-out object-center object-cover shadow-black/40" src="/img/silverwolf.jpg" loading="lazy">
</div>
