{{ if .IsHome }}
  <!-- for mobile -->
  {{- partial "mobile/mobile.html" . -}}
  <!-- end for mobile -->

  <!-- main loading-->
  {{- partial "home/mainloading.html" . -}}
  <!-- /main loading-->

  {{ if eq site.Params.home.ShowVideo false }}
    <!-- use js to set bg , css like style="background-image: url({{site.Params.home.HomeBgImage}});" -->
    <section id="home-with-image" class="min-h-screen bg-fixed bg-no-repeat bg-cover bg-center hidden md:block">
  {{ else }}
    <section class="min-h-screen hidden md:block">
      {{- partial "home/video.html" . -}} 
  {{ end }}

      <!-- header -->
      {{- partial "common/header.html" . -}}
      <!-- /header -->

      <!-- welcome -->
      {{- partial "home/welcome.html" -}}
      <!-- /welcome -->

      <!-- bottom wave -->
      {{- partial "home/wave.html" -}}

    </section>
{{ else }}

  <!-- for mobile -->
  {{- partial "mobile/mobile.html" . -}}
  <!-- end for mobile -->

  <!--not lazy-->
  <!-- <section class="bg-main min-h-[300px] bg-no-repeat bg-cover bg-center hidden md:block">
    {{- partial "common/header.html" . -}}
  </section> -->

  <!--lazy-->
  <section class="md:min-h-[300px] md:h-[300px] min-h-[200px] h-[200px]">  
    <div class="hidden md:block">
      {{- partial "common/header.html" . -}}  
    </div>

    {{- partial "common/banner.html" . -}}

  </section>

{{ end }}
