<header class="relative h-16  hover:bg-white transition ease-in-out duration-500">
    <div class="h-full w-full flex items-center justify-between mx-auto my-0">

      <div class="absolute">
        <div class="text-2xl hidden md:inline">
          <h1 class="pl-10 font-bold uppercase p-4 ">
            <a href="/" class="hover:text-gray-700">LKarrie</a>
          </h1>
        </div>
      </div>
      <nav class="flex items-center justify-center flex-col w-full">
          <div class="text-lg hidden md:inline w-full" id="menu">
            <ul class="flex font-bold justify-center ">
              <li class="text-center w-24">
                  <a href="/" class="flex items-center justify-center flex-row">
                    <i class="fa-brands fa-fort-awesome animate-pulse"></i>
                    <span class="w-16 pt-1">Home</span>
                  </a>
              </li>
              <li class="text-center w-24">
                  <a href="/blog" class="flex items-center justify-center flex-row">          
                      <i class="fa-solid fa-list-ul animate-pulse"></i>
                      <span class="w-16 pt-1">Blog</span>
                  </a>
              </li>
              <li class="text-center w-24">
                  <a href="/about" class="flex items-center justify-center flex-row">
                      <i class="fa-brands fa-pagelines animate-pulse"></i>
                      <span class="w-16 pt-1" >About</span>
                  </a>
              </li>
            </ul>
          </div>
      </nav>
    </div>
</header>
