{{ if .IsHome }}
  <!-- for mobile -->
  <div class="m-8 cursor-pointer md:hidden" id="burger">          
    <i class="fa-solid fa-bars fa-2xl"></i>
  </div>
  <!-- end for mobile -->

  <!-- main loading-->
  {{- partial "mainloading.html" . -}}
  <!-- /main loading-->

    {{ if eq site.Params.home.ShowVideo false }}
      <section id="home-with-image" style="background-image: url({{site.Params.home.HomeBgImage}});" class="min-h-screen bg-fixed bg-no-repeat bg-cover bg-center hidden md:block">
    {{ else }}
      <section class="min-h-screen bg-fixed bg-no-repeat bg-cover bg-center hidden md:block">
      {{- partial "video.html" . -}}
    {{ end }}

      <!-- header -->
      {{- partial "header.html" . -}}
      <!-- /header -->

      <!-- welcome -->
      {{- partial "welcome.html" -}}
      <!-- /welcome -->

  </section>
{{ else }}

  <!-- for mobile -->
  <div class="m-8 cursor-pointer md:hidden" id="burger">          
    <i class="fa-solid fa-bars fa-2xl"></i>
  </div>
  <!-- end for mobile -->

  <section class="bg-main min-h-screen bg-fixed bg-no-repeat bg-cover bg-center hidden md:block">

    <!-- header -->
    {{- partial "header.html" . -}}
    <!-- /header -->
 
  </section>

{{ end }}
