<div class="mx-4 flex justify-center items-center flex-col mt-16">
  <div class="w-3/5">
    <h1 class="gap-2 text-2xl font-bold tracking-wide border-dashed border-b-4 mb-10 flex justify-self-start items-center">
      <i class="fa-solid fa-anchor animate-pulse mb-1"></i>
      Weigh Anchor!
    </h1>
    <div class="flex flex-col md:flex-row justify-center mx-5 gap-3">

      <div class="w-full h-full bg-white rounded-lg overflow-hidden shadow-md relative hover:shadow-lg">
        <a href="/" >
          <img src="img/98941448_p1.png" class="w-full h-32 sm:h-48 object-cover hover:opacity-50 hover:scale-150 transition ease-in-out duration-500">
        </a> 
      </div>

      <div class="w-full h-full bg-white rounded-lg overflow-hidden shadow-md relative hover:shadow-lg">
        <a href="/">
          <img src="img/98941448_p1.png" class="w-full h-32 sm:h-48 object-cover hover:opacity-50 hover:scale-125 transition ease-in-out duration-500">
        </a> 
      </div>

      <div class="w-full h-full bg-white rounded-lg overflow-hidden shadow-md relative hover:shadow-lg">
        <a href="/">
          <img src="img/98941448_p1.png" class="w-full h-32 sm:h-48 object-cover hover:opacity-50 hover:scale-150 transition ease-in-out duration-500">
        </a>
      </div>

    </div>

  </div>
</div>