<div class="mx-4 flex justify-center items-center flex-col mt-16">
  <div class="w-3/5">
    <h1 class="gap-2 text-2xl font-bold tracking-wide border-dashed border-b-4 mb-10 flex justify-self-start items-center">
      <i class="fa-solid fa-anchor animate-pulse mb-1"></i>
      Weigh Anchor!
    </h1>
    <div class="flex flex-col md:flex-row justify-center mx-5 gap-3">

      <div class="w-full h-full bg-white rounded-lg overflow-hidden shadow-md relative hover:bg-gray-600 hover:shadow-lg transition ease-in-out duration-500">
        <a href="/">
          <div class="group">
            <img src="img/98941448_p1.png" class="w-64 h-40 sm:h-32 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500">
            <div class="absolute top-0 bottom-0 left-0 right-0 text-center ">
              <h3 class="text-lg uppercase text-white text-center p-[10px] bg-black mt-3 -translate-x-full transition ease-in-out duration-500 group-hover:translate-x-0">222222</h3>
              <p class="text-base mt-3 p-5 text-center bg-black translate-x-full transition ease-linear duration-500 group-hover:translate-x-0">111111</p>
            </div>
          </div>
        </a> 
      </div>

      <div class="w-full h-full bg-white rounded-lg overflow-hidden shadow-md relative hover:shadow-lg">
        <a href="/">
          <img src="img/98941448_p1.png" class="w-64 h-40 sm:h-32 object-cover hover:opacity-50 hover:scale-125 transition ease-in-out duration-500">
        </a> 
      </div>

      <div class="w-full h-full bg-white rounded-lg overflow-hidden shadow-md relative hover:shadow-lg">
        <a href="/">
          <img src="img/98941448_p1.png" class="w-64 h-40 sm:h-32 object-cover hover:opacity-50 hover:scale-150 transition ease-in-out duration-500">
        </a>
      </div>

    </div>

  </div>
</div>