<div class="mx-4 flex justify-center items-center flex-col pt-8">
  <section class="w-full md:w-[800px]">
    <div  class="sticky top-0 bg-white z-10 shadow-xl shadow-white">
    {{ range .Pages.GroupByDate "2006" "desc" }}


        <div class="sticky top-0 bg-white py-3 z-10 shadow-xl shadow-white">
          <h2 class="group-date">  {{ .Key }} </h2>
        </div>
        {{ range .Pages.GroupByDate "2006-01" "desc" }}
        <div class="timeline">
          <span>  {{ .Key }} </span>

          {{ range .Pages.ByTitle.Reverse }}
            <div class="relative">
              <div class="dot" title="test">
                <div class="dot-ping"></div>
              </div>
              <div class="pl-10">
                <span class="timeline-data"> {{ .Date.Format "Mon, Jan 2, 2006" }} </span>
                <h3 class="timeline-title" > {{ .Title }} </h3>
                <p class="text-gray-500">
                  {{ .Description }}
                </p>
              </div>
            </div>
          {{ end }}
        </div>
        {{ end }}

    {{ end }}
    </div>
  </section>
</div>