<div class="mx-4 flex justify-center items-center flex-col pt-8">
  <div class="w-full md:w-[800px] ">
    <h1 class="gap-2 text-lg font-bold tracking-wide border-dotted border-b-2 mb-10 flex justify-self-start items-center">
      <i class="fa-solid fa-anchor animate-pulse mb-1"></i>
      Weigh Anchor!
    </h1>
    <div class="flex flex-col md:flex-row justify-center gap-3">

      <div class="anchor cantsee2 w-full md:w-64 h-40 bg-white rounded-lg overflow-hidden shadow-md relative hover:bg-gray-600 hover:shadow-lg transition ease-in-out duration-500">
        <a href="/">
          <div class="group">
            <img src="img/weighanchor1.png" class="w-full md:w-64 h-40 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500" loading="lazy">
            <div class="absolute top-0 bottom-0 left-0 right-0 text-center ">
              <h3 class="text-lg uppercase text-black md:text-white text-center p-[10px] bg-slate-100 md:bg-black bg-opacity-30 md:bg-opacity-100  mt-5 md:-translate-x-full transition ease-in-out duration-500 group-hover:translate-x-0">Abut me</h3>
              <p class="text-base mt-3 p-2 md:p-5 text-black md:text-white text-center bg-slate-100 md:bg-black bg-opacity-30 md:bg-opacity-0 md:translate-x-full transition ease-linear duration-300 group-hover:translate-x-0">A Little Self Introduction</p>
            </div>
          </div>
        </a> 
      </div>

      <div class="anchor cantsee2 w-full md:w-64 h-40 bg-white rounded-lg overflow-hidden shadow-md relative hover:bg-gray-600 hover:shadow-lg transition ease-in-out duration-500">
        <a href="/">
          <div class="group">
            <img src="img/weighanchor1.png" class="w-full md:w-64 h-40 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500" loading="lazy">
            <div class="absolute top-0 bottom-0 left-0 right-0 text-center ">
              <h3 class="text-lg uppercase text-black md:text-white text-center p-[10px] bg-slate-100 md:bg-black bg-opacity-30 md:bg-opacity-100  mt-5 md:-translate-x-full transition ease-in-out duration-500 group-hover:translate-x-0">Abut me</h3>
              <p class="text-base mt-3 p-2 md:p-5 text-black md:text-white text-center bg-slate-100 md:bg-black bg-opacity-30 md:bg-opacity-0 md:translate-x-full transition ease-linear duration-300 group-hover:translate-x-0">A Little Self Introduction</p>
            </div>
          </div>
        </a> 
      </div>

      <div class="anchor cantsee2 w-full md:w-64 h-40 bg-white rounded-lg overflow-hidden shadow-md relative hover:bg-gray-600 hover:shadow-lg transition ease-in-out duration-500">
        <a href="/">
          <div class="group">
            <img src="img/weighanchor1.png" class="w-full md:w-64 h-40 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500" loading="lazy">
            <div class="absolute top-0 bottom-0 left-0 right-0 text-center ">
              <h3 class="text-lg uppercase text-black md:text-white text-center p-[10px] bg-slate-100 md:bg-black bg-opacity-30 md:bg-opacity-100  mt-5 md:-translate-x-full transition ease-in-out duration-500 group-hover:translate-x-0">Abut me</h3>
              <p class="text-base mt-3 p-2 md:p-5 text-black md:text-white text-center bg-slate-100 md:bg-black bg-opacity-30 md:bg-opacity-0 md:translate-x-full transition ease-linear duration-300 group-hover:translate-x-0">A Little Self Introduction</p>
            </div>
          </div>
        </a> 
      </div>
 
      <!-- back up -->
      <!-- <div class="anchor cantsee2 w-full md:w-64 h-40 bg-white rounded-lg overflow-hidden shadow-md relative hover:bg-gray-600 hover:shadow-lg transition ease-in-out duration-500">
        <a href="/">
          <div class="group">
            <img src="img/weighanchor1.png" class="w-full md:w-64 h-40 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500" loading="lazy">
            <div class="absolute top-0 bottom-0 left-0 right-0 text-center ">
              <h3 class="text-lg uppercase text-white text-center p-[10px] bg-black mt-5 -translate-x-full transition ease-in-out duration-500 group-hover:translate-x-0">Abut me</h3>
              <p class="text-base mt-3 p-5 text-white text-center translate-x-full transition ease-linear duration-300 group-hover:translate-x-0">A Little Self Introduction</p>
            </div>
          </div>
        </a> 
      </div> -->

    </div>

  </div>

</div>