{{ define "main" }}
  <div
    class="absolute left-1/2 top-1/2 w-[200px] min-w-[200px] -translate-x-1/2 -translate-y-1/2"
  >
    <span class="block" style="color: #777;font-style:italic;">
      // 404 page not found.
    </span>
    <span class="block">
      <span style="color:#d65562;">if</span>
      (
      <span style="color:#4ca8ef;">!</span>
      <span style="font-style: italic;color:#bdbdbd;">found</span>
      ) {
    </span>
    <span class="block">
      <span style="padding-left: 15px;color:#2796ec">
        <i style="width: 10px;display:inline-block"></i>
        throw
      </span>
      <span>
        (
        <span style="color: #a6a61f">"(╯°□°)╯︵ ┻━┻"</span>
        );
      </span>
      <span style="display:block">}</span>
      <span style="color: #777;font-style:italic;">
        //
        <a href="/">Go home!</a>
      </span>
    </span>
  </div>
{{ end }}
