<!-- <div class="loading-wrapper bg-white dark:bg-[#222]"> -->
<div class="loading-wrapper bg-white dark:bg-gray-900">  
  <div class="loading-avator">
    <img src="{{ .Site.BaseURL }}/img/silverwolf-icon1-sm.png" class="animate-spin"> 
  </div>
  <div style="color: #a66bf5" class="loading la-ball-8bits la-3x">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="loading-span animate-bounce">
    <span class="font-bold text-2xl text-transparent bg-clip-text bg-gradient-to-r from-pink-400 to-purple-600">Interesting ~</span>
  </div>
</div>