<div class="mx-4 flex justify-center items-center flex-col pt-4">
  <div class="w-full md:w-[800px] ">
    <h1 class="text-gray-800 dark:text-white gap-2 text-lg font-bold tracking-wide border-dotted dark:border-solid border-b-2 mb-10 flex justify-self-start items-center">
      <i class="fa-solid fa-anchor animate-pulse mb-1"></i>
      {{ T "Anchor" }}
    </h1>
    <div class="flex flex-col md:flex-row justify-center gap-3">

      <div class="anchor {{ if eq .Site.Params.disableWeighanchorLoadAnime true }} {{ else }} cantsee2 {{end}}  w-full md:w-64 h-40 bg-white rounded-lg overflow-hidden shadow-md relative hover:bg-gray-600 hover:shadow-lg transition ease-in-out duration-500">
        {{ if  eq .Site.LanguageCode "zh-CN" }}
        <a href="{{site.Params.weighanchor.one.zhCN.url}}">
          <div class="group">
            <!--not lazy-->
            <!-- <img src="img/weighanchor1.png" class="w-full md:w-64 h-40 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500" loading="lazy"> -->
            <!-- lazy load have some bug when hover -->
            <!--lazy-->
            <div class="blurred-img relative w-full md:w-64 h-40 bg-center bg-cover bg-weighanchor1-lazy-jpg rounded-lg">
              <img src="{{site.Params.weighanchor.one.zhCN.image}}" class="w-full md:w-64 h-40 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500" loading="lazy">
            </div>
            <div class="absolute top-0 bottom-0 left-0 right-0 text-center ">
              <h3 class="text-lg uppercase text-black md:text-white text-center p-[10px] bg-slate-100 md:bg-black/70 bg-opacity-30 md:bg-opacity-100  mt-5 md:-translate-x-full transition ease-in-out duration-500 group-hover:translate-x-0">{{site.Params.weighanchor.one.zhCN.title}}</h3>
              <p class="text-base mt-3 p-2 md:p-5 text-black md:text-black text-center bg-slate-100 md:bg-black bg-opacity-30 md:bg-opacity-0 md:translate-x-full transition ease-linear duration-300 group-hover:translate-x-0">{{site.Params.weighanchor.one.zhCN.description}}</p>
            </div>
          </div>
        </a> 
        {{ end }}
        {{ if  eq .Site.LanguageCode "en" }}
        <a href="{{site.Params.weighanchor.one.en.url}}">
          <div class="group">
            <!--not lazy-->
            <!-- <img src="img/weighanchor1.png" class="w-full md:w-64 h-40 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500" loading="lazy"> -->
            <!-- lazy load have some bug when hover -->
            <!--lazy-->
            <div class="blurred-img relative w-full md:w-64 h-40 bg-center bg-cover bg-weighanchor2-lazy-jpg rounded-lg">
              <img src="{{site.Params.weighanchor.one.en.image}}" class="w-full md:w-64 h-40 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500" loading="lazy">
            </div>
            <div class="absolute top-0 bottom-0 left-0 right-0 text-center ">
              <h3 class="text-lg uppercase text-black md:text-white text-center p-[10px] bg-slate-100 md:bg-black/70 bg-opacity-30 md:bg-opacity-100  mt-5 md:-translate-x-full transition ease-in-out duration-500 group-hover:translate-x-0">{{site.Params.weighanchor.one.en.title}}</h3>
              <p class="text-base mt-3 p-2 md:p-5 text-black md:text-black text-center bg-slate-100 md:bg-black bg-opacity-30 md:bg-opacity-0 md:translate-x-full transition ease-linear duration-300 group-hover:translate-x-0">{{site.Params.weighanchor.one.en.description}}</p>
            </div>
          </div>
        </a> 
        {{ end }}
      </div>

      <div class="anchor {{ if eq .Site.Params.disableWeighanchorLoadAnime true }} {{ else }} cantsee2 {{end}} w-full md:w-64 h-40 bg-white rounded-lg overflow-hidden shadow-md relative hover:bg-gray-600 hover:shadow-lg transition ease-in-out duration-500">
        {{ if  eq .Site.LanguageCode "zh-CN" }}
        <a href="{{site.Params.weighanchor.two.zhCN.url}}">
          <div class="group">
            <!--not lazy-->
            <!-- <img src="img/weighanchor1.png" class="w-full md:w-64 h-40 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500" loading="lazy"> -->
            <!--lazy-->
            <div class="blurred-img relative w-full md:w-64 h-40 bg-center bg-cover bg-weighanchor3-lazy-jpg rounded-lg">
              <img src="{{site.Params.weighanchor.two.zhCN.image}}" class="w-full md:w-64 h-40 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500" loading="lazy">
            </div>
            <div class="absolute top-0 bottom-0 left-0 right-0 text-center ">
              <h3 class="text-lg uppercase text-black md:text-white text-center p-[10px] bg-slate-100 md:bg-black/70 bg-opacity-30 md:bg-opacity-100  mt-5 md:-translate-x-full transition ease-in-out duration-500 group-hover:translate-x-0">{{site.Params.weighanchor.two.zhCN.title}}</h3>
              <p class="text-base mt-3 p-2 md:p-5 text-black md:text-black text-center bg-slate-100 md:bg-black bg-opacity-30 md:bg-opacity-0 md:translate-x-full transition ease-linear duration-300 group-hover:translate-x-0">{{site.Params.weighanchor.two.zhCN.description}}</p>
            </div>
          </div>
        </a> 
        {{ end }}
        {{ if  eq .Site.LanguageCode "en" }}
        <a href="{{site.Params.weighanchor.two.en.url}}">
          <div class="group">
            <!--not lazy-->
            <!-- <img src="img/weighanchor1.png" class="w-full md:w-64 h-40 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500" loading="lazy"> -->
            <!--lazy-->
            <div class="blurred-img relative w-full md:w-64 h-40 bg-center bg-cover bg-weighanchor1-lazy-jpg rounded-lg">
              <img src="{{site.Params.weighanchor.two.en.image}}" class="w-full md:w-64 h-40 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500" loading="lazy">
            </div>
            <div class="absolute top-0 bottom-0 left-0 right-0 text-center ">
              <h3 class="text-lg uppercase text-black md:text-white text-center p-[10px] bg-slate-100 md:bg-black/70 bg-opacity-30 md:bg-opacity-100  mt-5 md:-translate-x-full transition ease-in-out duration-500 group-hover:translate-x-0">{{site.Params.weighanchor.two.en.title}}</h3>
              <p class="text-base mt-3 p-2 md:p-5 text-black md:text-black text-center bg-slate-100 md:bg-black bg-opacity-30 md:bg-opacity-0 md:translate-x-full transition ease-linear duration-300 group-hover:translate-x-0">{{site.Params.weighanchor.two.en.description}}</p>
            </div>
          </div>
        </a> 
        {{ end }}
      </div>

      <div class="anchor {{ if eq .Site.Params.disableWeighanchorLoadAnime true }} {{ else }} cantsee2 {{end}} w-full md:w-64 h-40 bg-white rounded-lg overflow-hidden shadow-md relative hover:bg-gray-600 hover:shadow-lg transition ease-in-out duration-500">
        {{ if  eq .Site.LanguageCode "zh-CN" }}
        <a href="{{site.Params.weighanchor.three.zhCN.url}}">
          <div class="group">
            <!--not lazy-->
            <!-- <img src="img/weighanchor1.png" class="w-full md:w-64 h-40 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500" loading="lazy"> -->
            <!--lazy-->
            <div class="blurred-img relative w-full md:w-64 h-40 bg-center bg-cover bg-weighanchor2-lazy-jpg rounded-lg">
              <img src="{{site.Params.weighanchor.three.zhCN.image}}" class="w-full md:w-64 h-40 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500" loading="lazy">
            </div>
            <div class="absolute top-0 bottom-0 left-0 right-0 text-center ">
              <h3 class="text-lg uppercase text-black md:text-white text-center p-[10px] bg-slate-100 md:bg-black/70 bg-opacity-30 md:bg-opacity-100  mt-5 md:-translate-x-full transition ease-in-out duration-500 group-hover:translate-x-0">{{site.Params.weighanchor.three.zhCN.title}}</h3>
              <p class="text-base mt-3 p-2 md:p-5 text-black md:text-black text-center bg-slate-100 md:bg-black bg-opacity-30 md:bg-opacity-0 md:translate-x-full transition ease-linear duration-300 group-hover:translate-x-0">{{site.Params.weighanchor.three.zhCN.description}}</p>
            </div>
          </div>
        </a>
        {{ end }}
        {{ if  eq .Site.LanguageCode "en" }}
        <a href="{{site.Params.weighanchor.two.en.url}}">
          <div class="group">
            <!--not lazy-->
            <!-- <img src="img/weighanchor1.png" class="w-full md:w-64 h-40 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500" loading="lazy"> -->
            <!--lazy-->
            <div class="blurred-img relative w-full md:w-64 h-40 bg-center bg-cover bg-weighanchor3-lazy-jpg rounded-lg">
              <img src="{{site.Params.weighanchor.three.en.image}}" class="w-full md:w-64 h-40 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500" loading="lazy">
            </div>
            <div class="absolute top-0 bottom-0 left-0 right-0 text-center ">
              <h3 class="text-lg uppercase text-black md:text-white text-center p-[10px] bg-slate-100 md:bg-black/70 bg-opacity-30 md:bg-opacity-100  mt-5 md:-translate-x-full transition ease-in-out duration-500 group-hover:translate-x-0">{{site.Params.weighanchor.three.en.title}}</h3>
              <p class="text-base mt-3 p-2 md:p-5 text-black md:text-black text-center bg-slate-100 md:bg-black bg-opacity-30 md:bg-opacity-0 md:translate-x-full transition ease-linear duration-300 group-hover:translate-x-0">{{site.Params.weighanchor.three.en.description}}</p>
            </div>
          </div>
        </a>
        {{ end }}
      </div>
 
      <!-- back up -->
      <!-- <div class="anchor cantsee2 w-full md:w-64 h-40 bg-white rounded-lg overflow-hidden shadow-md relative hover:bg-gray-600 hover:shadow-lg transition ease-in-out duration-500">
        <a href="/">
          <div class="group">
            <img src="img/weighanchor1.png" class="w-full md:w-64 h-40 object-cover group-hover:opacity-50 group-hover:scale-125 transition ease-in-out duration-500" loading="lazy">
            <div class="absolute top-0 bottom-0 left-0 right-0 text-center ">
              <h3 class="text-lg uppercase text-white text-center p-[10px] bg-black mt-5 -translate-x-full transition ease-in-out duration-500 group-hover:translate-x-0">Abut me</h3>
              <p class="text-base mt-3 p-5 text-white text-center translate-x-full transition ease-linear duration-300 group-hover:translate-x-0">A Little Self Introduction</p>
            </div>
          </div>
        </a> 
      </div> -->

    </div>

  </div>

</div>